/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f4f8;
    color: #333;
    height: 100vh; /* Altura de toda la ventana */
    display: flex; /* Usar flexbox para centrar */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

html {
    box-sizing: border-box;
    background-color: #164863;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1, h2, h3 {
    text-align: center;
}

h1 {
    color: var(--verdefuerte);
    font-size: 3.5rem;
    margin-bottom: 5px;
}

:root {
    --verdefuerte: #987D9A;
    --verde: #176B87;
    --verdeclaro: #427D9D;
    --gris: #164863;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
  
h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 30px;
    color: #0077b6;
    text-transform: uppercase;
    border-bottom: 2px solid #e0e0e0;
    display: inline-block;
    padding-bottom: 5px;
}
  
  
.head-2, .p-ubicacion {
    color: white !important;
    margin-left: 2em;
}
  
  
span {
    color: var(--verdeclaro);
    font-size: 1.5rem;
}
    
.fondo-nav {
    background-color: var(--verdefuerte);
}
  
.menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--verdefuerte);
    margin: 0 15%;
}
  
.menu a {
    color: var(--gris);
    font-size: 1.5rem;
    width: 15rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 0;
}
  
.menu a:hover {
    background-color: var(--gris);
    color: var(--verdefuerte);
}

/* Contact Container */
.contact-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px 40px;
    max-width: 600px;
    width: 100%;
    text-align: center;
}

.contact-container h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #164863;
}

.contact-container .description {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #555;
}

/* Contact Info */
.contact-info {
    display: grid;
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.1rem;
}

.info-item i.icon {
    font-size: 2rem;
    color: #164863;
}

/* Links */
a {
    text-decoration: none;
    color: #164863;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #0077b6;
}
