html {
    box-sizing: border-box;
    background-color: #164863;
    font-size: 62.5%;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

h1, h2, h3 {
    text-align: center;
}

h1 {
    color: var(--verdefuerte);
    font-size: 3.5rem;
    margin-bottom: 5px;
}

:root {
    --verdefuerte: #987D9A;
    --verde: #176B87;
    --verdeclaro: #427D9D;
    --gris: #164863;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
  
h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 30px;
    color: #0077b6;
    text-transform: uppercase;
    border-bottom: 2px solid #e0e0e0;
    display: inline-block;
    padding-bottom: 5px;
}
  
  
.head-2, .p-ubicacion {
    color: white !important;
    margin-left: 2em;
}
  
  
span {
    color: var(--verdeclaro);
    font-size: 1.5rem;
}
    
.fondo-nav {
    background-color: var(--verdefuerte);
}
  
.menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--verdefuerte);
    margin: 0 15%;
}
  
.menu a {
    color: var(--gris);
    font-size: 1.5rem;
    width: 15rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 0;
}
  
.menu a:hover {
    background-color: var(--gris);
    color: var(--verdefuerte);
}

/* Encapsulación del bloque de navegación */
#uniqueNav {
    background-color: #DDF2FD;
    color: black;
    width: 100%;
}

#uniqueNav .mobile {
    display: none;
}

#uniqueNav .mobile .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

#uniqueNav .mobile .header .more button {
    border: none;
    background-color: #DDF2FD;
    color: white;
    padding: 15px;
    cursor: pointer;
}

#uniqueNav .logo {
    min-width: 250px;
}

#uniqueNav a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 20px 25px;
}

#uniqueNav a:hover {
    color: #164863;
    background-color: #9bbec8;
}

#uniqueNav .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

#uniqueNav .desktop .primary,
#uniqueNav .desktop .secondary {
    display: flex;
}

#uniqueNav .desktop .secondary.mini { 
    display: none;
}

@media screen and (max-width: 894px) {
    #uniqueNav .logo {
        min-width: 100px;
    }

    #uniqueNav .secondary.full {
        display: none;
    }

    #uniqueNav .secondary.mini {
        display: block !important;
    }

    #uniqueNav .secondary.mini .submenu {
        background-color: black;
        position: absolute;
        display: none;
        width: 200px;
        right: 0;
    }

    #uniqueNav .secondary.mini:hover .submenu {
        display: block;
    }
}

@media screen and (max-width: 500px) {
    #uniqueNav .desktop {
        display: none;
    }

    #uniqueNav .mobile {
        display: block;
    }
}
