:root {
    /* Colores */
    --negro: black;
    --navy: #164863;
    --purple: #427D9D;
    --pink: #FB2576;
    --blanco: white;
    --verdefuerte: #987D9A;
    --verde: #176B87;
    --verdeclaro: #427D9D;
    --gris: #164863;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: 'Caveat', cursive;
    font-family: 'Roboto', sans-serif;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Encabezados */
h1, h2, h3 {
    text-align: center;
    color: var(--blanco);
    margin: 0;
}

.header-1 {
    font-size: 3.5rem;
    padding-bottom: 3rem;
}

/* Contenedores y espaciado */
.contenedor {
    margin: 0 auto;
    width: 120rem;
    height: auto;
    background-color: #987D9A;
    padding-bottom: 3rem;
}

.encabezado {
    display: flex;
    flex-direction: row-reverse;
    width: 120rem;
    margin: 3rem auto;
    justify-content: center;
    align-items: baseline;
    background-color: var(--negro);
    padding-top: 3rem;
    margin-bottom: 0;
}

/* Botones */
.boton {
    background-color: var(--negro);
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.25rem 5.75rem;
    font-size: 1.25rem;
}

.boton:hover {
    background-color: var(--blanco);
    color: var(--purple);
    cursor: pointer;
}

/* Servicios */
.icon-servicio {
    background-color: var(--verdefuerte);
    width: 15rem;
    height: 15rem;
    margin: 1rem auto;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--verdeclaro) 5px;
}

.icon {
    stroke: white;
    width: 80px;
    height: 80px;
}

.p-servicio {
    color: var(--verdefuerte);
    text-align: center;
    font-size: 1.625rem;
}

/* Fondo de página */
.imagen-fondo {
    background-image: url(../img/fondo.jpg);
    background-size: contain;
    background-repeat: none;
}

/* Menú de navegación */
.menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--verdefuerte);
    margin: 0 15%;
}

.menu a {
    color: var(--gris);
    font-size: 1.5rem;
    width: 15rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 0;
}

.menu a:hover {
    background-color: var(--gris);
    color: var(--verdefuerte);
}

/* Formulario */
form {
    background-color: var(--verdeclaro);
    width: 80rem;
    margin: 0 auto;
    padding: 2.5rem 3.5rem;
}

fieldset {
    border: solid var(--verdefuerte) 5px;
}

legend {
    color: var(--verdefuerte);
    background-color: white;
    padding: 0.5rem 1.5rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.campo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.input-text, .text-area {
    width: 100%;
    margin-bottom: 1rem;
    height: 2.25rem;
    font-size: 1.75rem;
    border: none;
    border-bottom: solid var(--verdefuerte) 2.5px;
}

.text-area {
    height: 100%;
}

label {
    color: var(--verdefuerte);
    font-weight: 700;
    font-size: 1.625rem;
}

/* Footer */
.footer {
    background-color: var(--gris);
    width: 120rem;
    height: 3rem;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: right;
}

.margen-footer {
    margin-right: 1rem;
    color: var(--verdefuerte);
    font-size: 1.25rem;
    font-weight: 700;
}
