.fondo-nav {
    background-color: var(--verdefuerte);
}

.menu {
    display: flex;
    justify-content: space-around;
    background-color: var(--verdefuerte);
    margin: 0 15%;
}

.menu a {
    color: var(--gris);
    font-size: 1.5rem;
    width: 15rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    padding: 1.5rem 0;
}

.menu a:hover {
    background-color: var(--gris);
    color: var(--verdefuerte);
}
